.contentPage{
    margin-left: 250px;
    margin-top: 72px;
    overflow: hidden;
    padding: 0 12.5px 50px 12.5px;
    min-height: 80vh;
    background-color: #e9ecef;
}
.content__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #e9ecef;
}
.content{
    
    padding: 0px 30px 0 20px;
    
}
.table-custom{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 4px 39px -5px rgba(5, 0 ,14,  0.5);
}
#basic-data{
    margin-top: 20px;
}
.content__header{
    display: flex;
    justify-content: space-between;
}