.contentForm{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;  
    width: 800px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 1px 4px 39px -5px rgba(5, 0 ,14,  0.5);

}
.formCustom{

    display: flex;
    justify-content: center;
    align-items: center;
}
.contentForm__Item{
    margin-top: 30px;
    width: 100%;
   
}
.MuiFormControl-root{
    width: 100% !important;
}