*{
 margin:0;
 padding:0;   
}
.loginPage{
    justify-content: center;
    width: 100%;;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    object-fit: contain;
    width: 100%;
    background-image: url(../images/background.jpg) ;
    padding-top: 100px;
}

.loginPage__wrapper{
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.loginPage__form{
    width: 700px;
    background-color: white;
    border-radius: 10px;
    min-width: 300px;
    padding: 40px 50px 20px 50px;
    
    background-color: rgba(255, 255, 255, 0.9)
}
.lp__row--header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;    
}
.lp__row{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lp__row--checkbox{
    display: flex;
    align-items: center;
}
.custom-checkbox{
    margin-right: 5px;
}
.rememberMe{
    flex: 1;
}

.lp__row--bot{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item {
    padding: 10px;
}