.navbar-custom {
    padding: 0 22px 0 37px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    z-index: 100;
    background-color: #fff;
    -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,.075);
    box-shadow: 1px 4px 39px -5px rgba(5, 0 ,14,  0.5);
    color: white !important;
}