
h1,h2,h3,h4,h5,h6,p,span{
    margin:0 !important;
    padding: 0 !important;
}
.sideBar{
    width: 250px;
    background: #fff;
    bottom: 0;
    padding: 0 0 30px 0;
    position: fixed;
    top: 72px;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-box-shadow: 1px 0.05rem 0.01rem rgba(75,75,90,.075);
    box-shadow: 1px 0.05rem 0.01rem rgba(75,75,90,.075);
    z-index: 999;
    border-top: 1px solid rgba(75,75,90,.075);
}
.avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.userInfo{
    flex: 1;
}
.userProfile{
    padding: 15px 20px 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userInfo__name{
    color: #4b4b5a;
    font-weight: 600;
    font-size: 20px;
}
.userInfo__role{
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.userInfo__dropdown{
    width: 24px;
    height: 24px;
    color: #4b4b5a;
    background-color: rgba(9, 9, 12, 0.1);
    border-radius: 3px;
    cursor: pointer;
}
.userInfo__dropdown:hover{
    transition: 1s;
    background-color: rgba(50, 86, 163, 0.6);
}
.sideMenu__row{
    color: #4b4b5a;
    display: flex;
    align-items: center;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    border-left: 3px solid transparent;
    cursor: pointer;
}
.sideMenu__row:hover{
    background-color: #d1d6dd;
}
.sideMenu__row--icon{
    margin-right: 15px;
}
