.sideMenu{
    width: 250px;
    background: #ffffff;
    bottom: 0;
    padding: 0px 0 30px 0;
    position: fixed;
    top: 72px;
    transition-duration: .2s;
    box-shadow: 1px 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    z-index: 99;
    .userInfo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px 15px 30px;
        .userInfo__media{
            flex: 1;
        }
        .userInfo__avatar{
            margin-right: 10px;
            .avatar{
                border-radius: 50%;
                width: 100%;
                object-fit: cover;
            }
        }
        .userInfo__media{
            .userInfo__name{
                color: #4B4B5A;
                font-weight: 600;
            }
            .userInfo__role{
                text-transform: uppercase;
                font-size: 0.6rem;
                font-weight: 300;
                letter-spacing: 1px;
            }

        }
        .profileDropdown__icon{
            width: 24px;
            height: 24px;
            color: #4B4B5A;
            background-color: rgba(75, 75, 90, 0.1);
            border-radius: 3px;
        }
    }
}
