.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 22px 0 37px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 72px;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
    .navbar__right{
        display: flex;
        .navbar__searchForm{
            position: relative;
            display: flex;
            width: 100%;
            .navbar__searchIcon{
                position: absolute;
                z-index: 10;
                font-size: 18px;
                color: #adb5bd;
                line-height: 38px;
                left: 10px;
                top: 7px;
                width: 20px;
                height: 20px;
            }
            .navbar__searchInput{
                border: 1px solid transparent;
                height: 38px;
                padding-left: 40px;
                padding-right: 20px;
                background-color: #f3f4f7;
                box-shadow: none;
                border-radius: .3rem;
            }
        }
        .navbar__menuIcon{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            .navbar__menuIcon--item{
                padding: 0 10px;
            }
        }
    }
}


@media screen and (max-width: 625px) {
    body{
        .nav .navbar__right{
            display: none;
        }
    }

}
